<div id="deadbirdNav">
  <ul>
    <li><a href="leaderboards">View Leaderboards</a></li><br><br
    <li><input id="deadbirdSearch" type='text' placeholder='View/Add Twitter User' autofocus></li>
  </ul>
</div>
