<div id="deadbirdNav">
  <ul>
    <li><a href="leaderboards">Leaderboards</a></li>
    <li><input id="deadbirdSearch" type='text' placeholder='Search for Twitter User'></li>
    <li><a href="submit">Submit user to db</a></li>
  </ul>
</div>
