<html>
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="img/favicon.png" sizes="196x196">
  <base href="<%=basehref%>">
  <title>Deadbird :: Stats</title>
</head>
<body>
  <socket hidden><%-socket%></socket>
  <stats hidden><%-stats%></stats>
  <a href=""><h1 class="deadbirdtitle"><img id='deadbirdLogo' src='img/deadbird.svg'>Deadbird</h1></a>
  <% include navbar %>
  <div id="deadbirdMain">
    <h1>Stats</h1><br>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0px auto 25px"></div>
    <div class="row">
      <div class="col-xs-6 col-md-4 statlog">
        <h3 class='deadbirdStatTitle'>Fetcher</h3>
        <textarea id='fetcherLog'>Loading...</textarea>
        <p>The fetcher continuously checks for new tweets made by users in the database.<br><br>When it finds a new tweet, it parses and saves the tweet to the database.</p>
      </div>
      <div class="col-xs-6 col-md-4 statlog">
        <h3 class='deadbirdStatTitle'>Checker</h3>
        <textarea id='checkerLog'>Loading...</textarea>
        <p>The checker checks to see if a saved tweet has been deleted or not. It does this by send a HEAD request to the generated Twitter status URL and checking the status code for 404.<br><br>If we get a 404 status code, the tweet has been deleted and it'll now show up on the main page stream as well as the individual user's page.<br><br>The crawler checks tweets created within the last 7 days every 15 minutes.</p>
      </div>
      <div class="col-xs-6 col-md-4 statlog">
        <h3 class='deadbirdStatTitle'>Templates</h3>
        <textarea id='templateLog'>Loading...</textarea>
        <p>Templates are the user's profile pic and current Twitter page info (tweets, followers, bio, etc). These pages are updated daily.</p>
      </div>
    </div>
  </div>
  <script src="js/socket.io.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/highcharts.js"></script>
  <script src="js/general.js"></script>
  <script src="js/stats.js"></script>
</body>
</html>
