<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
<link rel="icon" type="image/png" href="/img/favicon.png" sizes="196x196">
<base href="<%=basehref%>">
<title>Deadbird :: <%=title%></title>

<message hidden><%=messages%></message>
