<%
  let nav = "";
  let url = ['', 'leaderboards', 'stats', 'about', '_viewongithub'];
  let parts = {
    '': `<a href="/">Stream</a>`,
    leaderboards: `<a href="/leaderboards">Leaderboards</a>`,
    stats: `<a href="/stats">Stats</a>`,
    about: `<a href="/about">About</a>`,
    _viewongithub: `<a href="https://github.com/keitharm/deadbird">View on Github</a>`
  };

  nav += url.map(ind => {
    if (originalUrl.slice(1) === ind) {
      return `<li id="deadbirdSelected">${parts[ind]}</li>`;
    } else {
      return `<li>${parts[ind]}</li>`;
    }
  }).join(' | ').slice(0, -3);
  nav += `<br><br><br><li><input id="deadbirdSearch" type='text' placeholder='${originalUrl.match('stats') ? "View specific user stats" : "View/Add Twitter User"}' autofocus></li>`;

%>
<div id="deadbirdNav">
  <ul>
    <%-nav%>
  </ul>
</div>
