<%
  let nav = "";
  let url = ['', 'leaderboards', 'stats', 'about'];
  let parts = {
    '': `<a href="/">Stream</a>`,
    leaderboards: `<a href="/leaderboards">Leaderboards</a>`,
    stats: `<a href="/stats">Stats</a>`,
    about: `<a href="/about">About</a>`
  };

  nav += url.map(ind => {
    if (originalUrl.slice(1) === ind) {
      return `<li id="deadbirdSelected">${parts[ind]}</li>`;
    } else {
      return `<li>${parts[ind]}</li>`;
    }
  }).join(' | ').slice(0, -3);

%>
<div id="deadbirdNav">
  <ul>
    <%-nav%>
  </ul>
</div>
