<html>
<head>
  <% include ../snippets/header %>
</head>
<body>
  <a href=""><h1 class="deadbirdtitle"><img id='deadbirdLogo' src='/img/deadbird.svg'>Deadbird</h1></a>
  <% include ../snippets/navbar %>
  <div id="deadbirdMain">
    <h1>About</h1><br>
    <p>Dead Bird by Luis Prado from the Noun Project</p>
  </div>
  <% include ../snippets/googleAnalytics %>
  <% include ../snippets/footer %>
</body>
</html>
