<%
  let content = [];
  let total = {
    total: 0,
    deleted: 0
  };
  for (let i = 0; i < handles.length; i++) {
    total.deleted += handles[i].deleted;
    total.total += handles[i].total;
    content.push(`
<tr>
  <td><a href="${handles[i].handle}">${handles[i].handle}</a><a style="float: right" title="View stat for ${handles[i].handle}" href="stats/${handles[i].handle}"><span class="glyphicon glyphicon-signal" style="color: #19C205"></span></a></td>
  <td>${handles[i].deleted}</td>
  <td>${handles[i].total}</td>
  <td>${Math.floor((handles[i].deleted/handles[i].total)*10000)/100 || 0}%</td>
</tr>
  `)
}
%>
<html>
<head>
<% include ../snippets/header %>
</head>
<body>
  <autocomplete hidden><%-autocomplete%></autocomplete>
  <% include ../snippets/navbar %>
  <div id="deadbirdMain">
    <h1>Leaderboards</h1><br>
    <p class='info'>Click on a Twitter handle to be taken to the user's page and click on the graph icon to see their last 30 days of activity.</p><br>
    <p>Currently tracking <%=handles.length%> users</p>
    <table id="leaderboard" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Deleted Tweets</th>
          <th>Total Tweets</th>
          <th>Ratio</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Deleted Tweets</th>
          <th>Total Tweets</th>
          <th>Ratio</th>
        </tr>
      </tfoot>
      <tbody>
      <%-content.join('')%>
      </tbody>
    </table>
  </div>
  <% include ../snippets/googleAnalytics %>
  <% include ../snippets/footer %>
</body>
</html>
